<!-- contact -->
<section class="section section-on-footer" data-background="{{site.baseurl}}/assets/images/backgrounds/bg-dots.png">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ site.data.settings.contact-title }}</h2>
      </div>
      <div class="col-lg-8 mx-auto">
        <div class="bg-white rounded text-center p-5 shadow-down">
          <div class="calendly-inline-widget" data-url="https://calendly.com/bharathsh36" style="height:600px;"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /contact -->