// Color Variables
$primary-color: #001242;
$secondary-color: #0094C6;
$text-color: #040F16;
$text-color-dark: #000;
$text-color-light: #999;
$body-color: #fff;
$border-color: #c7c7c7;
$black: #000;
$white: #fff;
$gray: #B4C4AE;

// Font Variables
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Roboto', serif;
$tertiary-font: 'Roboto';
$icon-font: 'themify';
